<%= form_with(model: bulb, local: true) do |form| %>
  <% if bulb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bulb.errors.count, "error") %> prohibited this bulb from being saved:</h2>

      <ul>
      <% bulb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hue %>
    <%= form.text_field :hue, id: :bulb_hue %>
  </div>

  <div class="field">
    <%= form.label :saturation %>
    <%= form.text_field :saturation, id: :bulb_saturation %>
  </div>

  <div class="field">
    <%= form.label :brightness %>
    <%= form.text_field :brightness, id: :bulb_brightness %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
