<p id="notice"><%= notice %></p>

<h1>Bulbs</h1>

<table>
  <thead>
    <tr>
      <th>Hue</th>
      <th>Saturation</th>
      <th>Brightness</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulbs.each do |bulb| %>
      <tr>
        <td><%= bulb.hue %></td>
        <td><%= bulb.saturation %></td>
        <td><%= bulb.brightness %></td>
        <td><%= link_to 'Show', bulb %></td>
        <td><%= link_to 'Edit', edit_bulb_path(bulb) %></td>
        <td><%= link_to 'Destroy', bulb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bulb', new_bulb_path %>
