<p id="notice"><%= notice %></p>

<p>
  <strong>Hue:</strong>
  <%= @bulb.hue %>
</p>

<p>
  <strong>Saturation:</strong>
  <%= @bulb.saturation %>
</p>

<p>
  <strong>Brightness:</strong>
  <%= @bulb.brightness %>
</p>

<%= link_to 'Edit', edit_bulb_path(@bulb) %> |
<%= link_to 'Back', bulbs_path %>
